@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Public Sans', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.military-grid-item:hover {
  box-shadow: inset 0 0 0 2px #F2B705;
}

.military-pattern {
  background-image: radial-gradient(#3d6b4f 0.5px, transparent 0.5px);
  background-size: 10px 10px;
  opacity: 0.1;
}

.timeline-line {
  background-color: #3d6b4f;
  width: 3px;
}

.timeline-dot {
  background-color: #F2B705;
  border: 4px solid #3d6b4f;
}
